<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
       <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="">

        <title>{% block title %}Billet simple pour l'Alaska{% endblock %}</title>
        <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="public/get-shit-done-1.4.1/get-shit-done-1.4.1/assets/css/gsdk.css" rel="stylesheet"/>
        <link href="public/css/style.css" rel="stylesheet" />
        <!--     Font Awesome     -->
    
        <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	</head>


	<body>

        <nav class="navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="index.php">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chapitres <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for chapter in chapters %}
                            
                                <li><a href="index.php?action=article&id={{ chapter.id }}"> chapitre {{ chapter.articleNumber }}</a></li>

                            {% endfor %}        
                        </ul>
                    </li>
                    <li><a href="#">A propos</a></li>
                </ul>
            
                <!-- mettre un if pour récupérer $_session

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php?action=adminView">Administration</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chapitres <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.php?action=adminArticles"> Tous les chapitres</a></li>
                            <li><a href="index.php?action=adminAddArticle"> Ajouter un chapitre</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="index.php?action=adminComments"> Commentaires</a></li>

                    <li><a class="btn btn-default btn-round" href="index.php?action=disconnection">Déconnexion</a></li>
               </ul>
            mettre le else twig-->

                <ul class="nav navbar-nav navbar-right"  >
                    <li><a class="btn btn-default btn-round" role="button" href="index.php?action=connectionAccess">Connexion</a></li>
                    <!--<li><a class="btn btn-default btn-round" role="button" href="index.php?action=inscriptionAccess">Inscription</a></li>-->
                </ul>
           <!--mettre le endif twig-->

            </div><!-- /.navbar-collapse -->

          </div> 
        </nav>

		{% block body %}


		{% endblock %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
                
        <script src="public/js/gsdk-bootstrapswitch.js"></script>
        <script src="public/js/get-shit-done.js"></script>

        <footer class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-push-1 haut center">
                    <div class="row">
                        <div class="col-xs-4">
                            <h6>Contact</h6>
                            <p>Jean Forteroche<br/> 
                                857, Wolves street<br/>
                                Skessakaï, AK 99501                         
                            </p>
                        </div>

                        <div class="col-xs-4 in-the-middle">
                            <h6>Réseaux sociaux</h6>
                             <div class="row center ">
                                <div class="col xs-6 col-sm-3"><img type="button" src="public/images/social-1834007_640.png" alt="icone facebook" href="#"></div>
                                <div class="col xs-6 col-sm-3"><img src="public/images/social-1834013_640.png" alt="icone twitter" href="#"></div>
                                <div class="col xs-6 col-sm-3"><img src="public/images/social-1834010_640.png" alt="icone instagram" href="#"></div>
                                <div class="col xs-6 col-sm-3"><img src="public/images/social-1834009_640.png" alt="icone google+" href="#"></div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <h6>Autres</h6>
                            <p><a href="#">Mentions légales</a><br/>
                                <a href="#">Crédits photos</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center">
                    <p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Jean Forteroche - 2018 - Création Couleur Web</p>
                </div>
            </div>
        </footer>
	</body>


</html>