
{% extends 'template.twig' %}
{% block title %}
    Connexion administration - {{parent()}}
{% endblock %}

{% block h1front %}
    Connexion
{% endblock %}

{% block displayDate %}{% endblock %}

{% block body %}     
            
    <main class="container-fluid" >

        <div class="row">
            <div class="col-xs-12 subdivision">
                <h3>C'est par ici que ça se passe</h3>
            </div>
        </div>

        <div class="row connection" id="connection">

            <form class="col-xs-10 col-xs-push-1 comment-form" method="post" action="index.php?action=connection">

                <div class="form-group">
                    <label for="pseudo">Identifiant </label><br/>
                    <input type="text" name="pseudo" required>
                </div>
                              
                <div class="form-group">
                    <label for="password">Mot de passe </label><br/>
                    <input type="password" name="password" required>
                </div>
                        
                <div>
                    <input type="submit" value="Envoyer">
                </div>
            </form>
                        
        </div>  
    </main>
{% endblock %}            
    