{% extends 'template.twig' %}
{% block title %}
    Crédits - {{parent()}}
{% endblock %}

{% block h1front %}
    Crédits
{% endblock %}

{% block displayDate %}{% endblock %}

{% block body %} 

	<main class="container-fluid" >

        <div class="row">
            <div class="col-xs-12 subdivision">
                <h3>Crédits texte</h3>
            </div>
        

        	<div class="col-xs-10 col-xs-push-1">
                <div class="comments">
                    <p>Le texte des chapitres est tiré de l'oeuvre du domaine public <strong>"Croc-Blanc"</strong>, écrite en 1906 par <strong>Jack London</strong>.<br/>
                    Source : https://www.atramenta.net/lire/croc-blanc/18697 </p>
                    <p>NB : de nombreuses autres traductions et sources sont disponibles.</p>
                </div>
            </div>


      
            <div class="col-xs-12 subdivision">
                <h3>Crédits photos</h3>
            </div>

            <div class="col-xs-10 col-xs-push-1">
                <div class="comments">
                    <h4>Page d'accueil</h4>
                    <ul>
                    	<li>Entête : Skeeze - CCO pixabay.com</li>
                    	<li>Carrousel - photo 1 : Garrett Parker - source : https://unsplash.com/</li>
                    	<li>Carrousel - photo 2 : Skeeze - CCO pixabay.com</li>
                    	<li>Carrousel - photo 3 : 12019 - CCO pixabay.com</li>
                        <li>Carrousel - photo 4 : 12019 - CCO pixabay.com</li>
                        <li>Carrousel - photo 5 : Free-photos- CCO pixabay.com</li>
                        <li>Carrousel - photo 6 : Steve Alama - https://unsplash.com/</li>
                        <li>A propos : Radka Kocanova - https://unsplash.com/</li>
                        <li>Fond : Jeremy Kovac - https://unsplash.com/</li>
                    </ul>

                    <h4>Autres pages</h4>
                    <ul>
                        <li>Entête : Nelly Volkovitch - source : https://unsplash.com/</li>
                        <li>Page erreur 404 : Jack Ross - https://unsplash.com/</li>
                    </ul>

                    <h4>Footer</h4>
                    <ul>
                        <li>Icône Facebook : Elisa Riva - CCO pixabay.com</li>
                        <li>Icône Twitter : Elisa Riva - CCO pixabay.com</li>
                        <li>Icône Instagram : Elisa Riva - CCO pixabay.com</li>
                        <li>Icône Google+ : Elisa Riva - CCO pixabay.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}