/*<<<<<---------- navigation/menu ---------->>>>>*/

nav {
	font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
	font-size: 16px
	border: 0;
	font-size: 16px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; }
	nav .navbar-brand {
	    font-weight: 600;
	    margin: 5px 0px;
	    padding: 20px 15px;
	    font-size: 20px; }
	nav .navbar-nav > li > a {
	    padding: 10px 2px;
	    margin: 15px 3px; }
	nav .navbar-nav > li > a.btn {
	    margin: 15px 3px;
	    padding: 8px 16px; }
	nav .navbar-nav > li > a.btn-round {
	    margin: 16px 3px; }
	nav .navbar-nav > li > a [class^="fa"] {
	    font-size: 19px;
	    position: relative;
	    top: 1px; }
	nav .btn {
	    margin: 15px 3px;
	    font-size: 14px; }
	nav .btn-simple {
	    font-size: 16px; }


@media (max-width: 767px) 
{
	.dropdown-menu > li > a 
	{
	    color: #9d9d9d; 
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
	{
		color: #ffffff;
	}

}


 #dot-list
 {
 	list-style-type: none;
 }

/*<<<<<---------- For all pages ---------->>>>>*/	 

body
{
	padding: 0;
	margin: 0;
}

/*<<<<<---------- Homepage ---------->>>>>*/
#wrapper
{
	margin: 0;
	padding: 3em;
	background-image: url("../images/jeremy-kovac-179174.jpg");
}


article
{
	margin-bottom: 5%;
}

article h4
{
	margin-top: 1%;
}


.homepage
{
	background-image: url("../images/aurora-borealis-1002259_1920.jpg");
	color : #F6F6F6;
	height : 750px;
	margin-top: 0px;
}


.title
{
	margin-top: 500px;
}


#date
{
	background-color: #C5C5C5;
	margin-top: 10px; 
	margin-left: -5px;
	width: 87px;
	padding-left: 7px;
	vertical-align: center;
	border-radius: 5px;
	color: #F6F6F6;
	height: 38px;
}



.carousel img
{
	border-radius: 5px;
}

.carousel
{
	border-radius: 5px;
}

.center
{
	text-align: center;

}

.justify
{
	text-align: justify;
}

.portrait
{
	max-height: 140px;
	max-width: 140px;
}
.presentation
{
	margin-top: 5%;
}

#presentation
{
	display: flex;
	align-items: center;
}

/*<<<<<---------- Homepage and Article's page rules---------->>>>>*/

.thumbnail, .main
{

	background-color: #F6F6F6;
	border-radius: 5px;
}

/*<<<<<---------- Article's page ---------->>>>>*/


header h1
{
	margin-top: 150px;
	color : #F6F6F6;
}


.header-other-pages
{
	background-image: url("../images/nelly-volkovich-16093-cut.jpg");
	height: 250px;
	color : #F6F6F6;
}

.subdivision
{
	background-color: #DCDCDC;
	color: #808080;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2%;
	padding-left: 30px;

}


/*------ Display of article and comments on article's page-----*/
.comments
{
	margin-bottom: 2%;
	border: 1px #DCDCDC solid;
	border-radius: 10px;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	
}

.comment, .answer
{
	background-color: #FFFFFF;
	border: 1px #DCDCDC solid;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 2%;

}

.panel-heading
{
	display: inline-flex;
}

.answer
{
	margin-left: 4%;
}


/*------ Display of form to add a comment on article's page-----*/

.comment-form
{
	border: 1px #DCDCDC solid;
	border-radius: 10px;
	padding: 1%;
	margin-bottom: 3%;
}

.comment-form input, .comment-form textarea
{
	width: 75%;
}

.comment-form textarea
{
	/*border-radius: 5px;*/
	height : 40%;

}


/*<<<<<---------- Footer ---------->>>>>*/

footer, footer a
{
	
	background-color: #21201E;
	/*color: #F6F6F6;*/
	color: #808080;
	
}

.haut
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.in-the-middle
{
	border-left: 2px #808080 solid;
	border-right: 2px #808080  solid;

}


/*<<<<<---------- Connection view ---------->>>>>*/
.connection
{
	margin-top: 3%;
}

#connection
{
	min-height: 40vh;
}


/*<<<<<---------- Mobile devices ---------->>>>>*/

@media (max-width: 580px)
{
	h1
	{
		font-size: 38px;
	}

	h3
	{
		font-size: 28px;
	}

	h5
	{
		font-size: 18px;
	}

	header h1 
	{
	margin-top: 125px;
	}

	.homepage
	{
	background-image: url("../images/aurora-borealis-1002259_1920-cut.jpg");
	height : 480px;
	margin-top: 0px;
	}

	.title
	{
		margin-top: 300px;
	}

}

@media (max-width: 780px)
{

	.comment-form input, .comment-form textarea
	{
		width: 100%;
	}

}
