.answer
{
margin-left: 50px;
}

body
{
padding-top: 0px;
}


header
{
background-image: url("../images/aurora-borealis-1002259_1920.jpg");
color : #FCFAE1;
height : 750px;
margin-top: 0px;
}

section
{
background-image: url("../images/jeremy-kovac-179174.jpg");
}


article
{
margin-top: 5%;
}

.title
{
margin-top: 500px;
}

.thumbnail
{
background-color: #F6F6F6;
}

#date
{
background-color: #C5C5C5;
margin-top: 4%; 
margin-left: -2%;
width: 20%;
padding-left: 2%;
border-radius: 5%;
color: #F6F6F6;
}


.center
{
	text-align: center;
}