.answer
{
margin-left: 50px;
}

body
{
padding-top: 0px;
}


header
{
background-image: url("../images/aurora-borealis-1002259_1920.jpg");
color : #FCFAE1;
height : 750px;
margin-top: 0px;
}

.title
{
margin-top: 600px;
}

section
{
background-image: url("../images/andreea-chidu-234595.jpg");
}

.navbar
{
border-radius: 0px;
}

.navbar-ct-home
{
background-color: 171425;
}